*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family:Silka Medium, Frutiger, Frutiger Linotype, Univers, Calibri, Gill Sans, Gill Sans MT, Myriad Pro, Myriad, DejaVu Sans Condensed, Liberation Sans, Nimbus Sans L, Tahoma, Geneva, Helvetica Neue, Helvetica, Arial, sans-serif ;
}
body{
  background-color: #f4f1ff;
}
:root {
  --blue: #0009ff;
  --pink: #ff1078;
  --yellow: #ffb13d;
  --green: #00f0ab;
  --purple: #9709e4;
  --gray: #d1caf1;
}
.header-container{
  background: rgb(0,9,255);
  background: linear-gradient(127deg, rgba(0,9,255,1) 0%, rgba(0,9,255,1) 0%, rgba(255,16,120,1) 100%);
  padding: 50px;
  border-radius: 20px;
  margin: 30px;
}
.nav-container{
display: flex;
align-items: center;
justify-content: space-between;

}
.logo{
  height: 26px;
}
nav ul{
  list-style-type:none ;
 /* display: flex;
 gap: 30px; */
}
nav ul li{
  float: left;
  position: relative;
}
nav ul li a{
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}
nav ul li a:hover{
  opacity: 50%;
}
#submenu{
  left: 0;
  opacity: 0;
  position: absolute;
}
li:hover ul#submenu{
  opacity: 1;
}
#submenu li{
  float: none;
  width: 100%;
}
#submenu li a {
  font-size: 18px;
  opacity: 50%;
}
#submenu li a:hover {
  opacity: 1;
}
.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.h-heading{
  display: block;
  font-size: 4rem;
  font-weight: 400;
}
.h-offer,.u-offer,.h-sorry,.join{
  font-size: 1.2rem;
  line-height: 30px;
}
.u-offer{
  display: block;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: 2px;
}
.dot>span{
  font-size: 2rem;
  opacity: 50%;
}
.join{
  padding: 8px 30px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: none;
  color: black;
  cursor: pointer;
}
.join:hover{
  background-color: black;
  color: white;
}
.trusted{
  margin-top: 100px;
  font-weight: bold;
  opacity: 50%;
}
.partner-logo-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  place-items: center;
  margin-top: 30px;
}
.stubhub{
  display: none;
}
/* main-card-start */
.card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}
.card-container h1{
  color: black;
  font-weight: 500;
}
.card-container p{
  color: black;
  font-size: 20px;
  line-height: 30px;
}
.find-card{
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.make-easy,.gradient-header{
  background: #3308E2;
background: linear-gradient(to right, #3308E2 0%, #FF1078 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.hiw{
  padding: 8px 30px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s;
}
.hiw:hover{
  background-color: black;
}

#img-intro-screen{
  width: 570px;
  border-radius: 20px;
}
/* main-card-end */

/* subscription-benifit-start */
.sb-container{
  margin: 30px;
  padding: 50px;
  border-radius: 20px;
  background-color: white;
}
.choose-plan-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gradient-header{
  letter-spacing:2px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.h-un{
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: black;
}
.plan-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 50px;
  place-items: center;
}
.plan-card{
  width: 200px;
  padding: 20px;
}
.unlimited-plan-heading,.r-name,.r-role{
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 20px;
}
.unlimited-plan-p,.review-comment{
  color: black;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 300;
}
/* subscription-benifit-end */

/* review-session-start */
.review-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;
}
.review-content-container{
  background-color: white;
  width: 780px;
  display: flex;
  gap: 30px;
  padding: 50px;
  border-radius: 20px;
}
.r-img{
  width: 70px;
}
.review-content{
  width: 320px;
}
.r-role{
color: rgb(139, 147, 155);
}
#img-home-case{
  width: 360px;
}
/* review-session-end */
/* monthly-plan-start */
.mmp-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.mm-container{
  width: fit-content;
}
.monthly-plan-container{
  margin-top: 50px;
  padding: 30px;
   border: 2px solid var(--yellow);
   border-radius: 20px 20px 0 0;
   width: 500px;
}
.bd-container{
  border: 2px solid var(--gray);
}
.offer-tag{
  color: black;
  font-size: 0.75rem;
  background-color: rgb(255 177 61 / 0.2);
  padding: 5px 10px;
  border-radius: 30px;
  border: 2px solid var(--yellow);
}
.bd-tag{
 background-color:  rgb(240 238 250);
 border: 2px solid var(--gray);
}
.plan-title,.link{
  margin-top: 20px;
  color: black;
  font-size: 1.25rem;
}
.desc,hr{
color: rgb(139, 147, 155);
}
.price{
  font-size: 1.75rem;
}
.ques,.link{
  font-size: 0.95em;
}
.ques{
  margin-bottom: 30px;
}
.link:hover{
  text-decoration: none;
}
.w-in{
  margin: 20px 0;
  color: black;
  font-size: 1.3rem;
}
.include-items li{
  color: black;
  font-size: 1rem;
  line-height: 30px;
  margin-left: 15px;
  list-style-image: url(./images/pngegg.png);
}
.money-container{
  background-color: rgb(255 177 61 / 0.2);
  padding: 30px;
  border: 2px solid var(--yellow);
  border-radius: 0 0 20px 20px;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.bd-m-container{
 background-color:  rgb(240 238 250);
 border: 2px solid var(--gray);

}
.money-icon,.save,.b-price{
  color: black;
  display: inline-block;
}
.b-price{
  font-weight: bold;
}
.mrc-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mrc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* footer start */
.footer-container{
  background-color: black;
  margin: 30px;
  border-radius: 30px;
  padding: 100px 0;
}
.f-up-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f-logo{
  margin-bottom: 30px;
}
.h-footer{
  color: white;
}
.btn-start{
  margin-top: 30px;
}
.btn-start:hover{
  background-color: white;
  color: black;
}
/* footer end */
/* monthly-plan-end */
@media (max-width: 1250px) {
  .header-container{
    padding: 30px;
    margin: 20px;
  }
  .nav-link-container{
    display: none;
  }
  .h-heading{
    font-size: 2.5rem;
  }
  .h-offer,.u-offer{
    width: 450px;
    display: inline;
  }
  .partner-logo-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
  .stubhub{
    display: block;
  }
  .card-container{
    flex-direction: column-reverse;
  }
  #img-intro-screen,.find-card{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .img-intro-screen-container{
    background-color: white;
  }
  #img-intro-screen{
    border-radius: 20px 20px 0px 0px;
  }
  .find-card{
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    height: 100%;
  }
  .plan-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    place-items: center;
  }
  .h-un{
    font-size: 2rem;
  }
  .plan-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unlimited-plan-heading,.unlimited-plan-p{
   text-align: center;
  }
  .unlimited-plan-heading,.r-name,.r-role{
   text-align: center;
  }
  .unlimited-plan-p,.review-comment{
    text-align: center;
  }
 #img-plan-card{
  margin: 0 auto;
 }
 .review-content-container{
  flex-direction: column;
}
 .r-img{
  margin: 0 auto;
 }
 .r-role{
  margin-top: 0;
 }
.review-content,.review-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-home-case{
  margin-top: 20px;
  width: 100%;
}
.mmp-container{
  /* gap: 20px; */
}
.monthly-plan-container,.money-container{
 width: 100%;
}
}
@media (max-width: 500px) {
  .h-heading{
    font-size: 2rem;
  }
  .h-offer,.u-offer{
    width: auto;
    display: inline;
  }
  .partner-logo-container div img{
    width: 100px;
  }
  .h-un{
    font-size: 20px;
  }
  .gradient-header{
    letter-spacing:normal;
    font-size: 14px;
  }
  .hiw{
    font-size: 20px;
  }
}